<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/dip</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <mapping class="com.dip.entity.DogShow"/>
        <mapping class="com.dip.entity.Contest"/>
        <mapping class="com.dip.entity.ContestType"/>
        <mapping class="com.dip.entity.Dog"/>
        <mapping class="com.dip.entity.Breed"/>
        <mapping class="com.dip.entity.FciGroup"/>
        <mapping class="com.dip.entity.Owner"/>
        <mapping class="com.dip.entity.Breeder"/>
        <mapping class="com.dip.entity.Colour"/>
        <mapping class="com.dip.entity.User"/>
        <mapping class="com.dip.entity.Expert"/>
        <mapping class="com.dip.entity.FileUpload"/>
        <mapping class="com.dip.entity.FileUploadValidator"/>
        <mapping class="com.dip.entity.Judging"/>
        <mapping class="com.dip.entity.Participant"/>
        <mapping class="com.dip.entity.Human"/>
        <mapping class="com.dip.entity.Colour"/>
        <mapping class="com.dip.entity.Colouring"/>
        <mapping class="com.dip.entity.Registered_dog"/>
        <mapping class="com.dip.entity.Registered_Contest_Participant"/>
        <mapping class="com.dip.entity.Registered_Contest_Dog"/>



        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>